<%- include("shared/header") %>

<div class="container my-4">
  <div class="row">
    <div class="col-md-12">
      <%- include("shared/flash") %>
      
      <h1 class="mb-3">Dashboard</h1>

      <ul class="list-group">
        <% assignedIssues.forEach(function(assignedIssue) { %>
          <a href="/issues/<%= assignedIssue.id %>" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h3 class="mb-1"><span class="text-muted">#<%= assignedIssue.id %>.</span> <%= assignedIssue.title %></h3>
              <small><%= assignedIssue.dueDate %></small>
            </div>
            <p class="mb-1"><%= assignedIssue.description %></p>
            <small><%= assignedIssue.type?.name || "-" %></small>
            &middot;
            <small><%= assignedIssue.priority?.name || "-" %></small>
            &middot;
            <small><%= assignedIssue.status?.name || "-" %></small>
          </a>
        <% }) %>
      </ul>
    </div>
  </div>
</div>

<%- include("shared/footer") %>
