<%- include("shared/header") %>

<div class="container my-4">
  <div class="row">
    <div class="col-md-12">
      <h1 class="mb-3">Edit issue</h1>
      <div class="row">
        <div class="col-md-6">
          <form action="/issues/<%= issue.id %>?_method=PUT" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
              <label for="projectId">Project</label>
              <select name="projectId" id="projectId" class="form-select" required>
                <% projects.forEach(function (project) { %>
                  <% if (project.id == issue.projectId) { %>
                    <option value="<%= project.id %>" selected><%= project.name %></option>
                  <% } else { %>
                    <option value="<%= project.id %>"><%= project.name %></option>
                  <% } %>
                <% }) %>
              </select>
              <div class="invalid-feedback">
                Please select project.
              </div>
            </div>
            
            <div class="mb-3">
              <label for="title">Title</label>
              <input type="text" name="title" id="title" class="form-control" placeholder="Login is not working on home page" value="<%= issue.title %>" required>
              <div class="invalid-feedback">
                Title is required.
              </div>
            </div>

            <div class="mb-3">
              <label for="description">Description</label>
              <textarea name="description" id="description" cols="30" rows="10" class="form-control" placeholder="Optional description of the issue"><%= issue.description %></textarea>
            </div>

            <div class="mb-3">
              <label for="typeId">Type</label>
              <select name="typeId" id="typeId" class="form-select" required>
                <% types.forEach(function (type) { %>
                  <% if (type.id == issue.typeId) { %>
                    <option value="<%= type.id %>" selected><%= type.name %></option>
                  <% } else { %>
                    <option value="<%= type.id %>"><%= type.name %></option>
                  <% } %>
                <% }) %>
              </select>
              <div class="invalid-feedback">
                Please select type.
              </div>
            </div>

            <div class="mb-3">
              <label for="statusId">Status</label>
              <select name="statusId" id="statusId" class="form-select" required>
                <% statuses.forEach(function (status) { %>
                  <% if (status.id == issue.statusId) { %>
                    <option value="<%= status.id %>" selected><%= status.name %></option>
                  <% } else { %>
                    <option value="<%= status.id %>"><%= status.name %></option>
                  <% } %>
                <% }) %>
              </select>
              <div class="invalid-feedback">
                Please select status.
              </div>
            </div>

            <div class="mb-3">
              <label for="priorityId">Priority</label>
              <select name="priorityId" id="priorityId" class="form-select" required>
                <% priorities.forEach(function (priority) { %>
                  <% if (priority.id == issue.priorityId) { %>
                    <option value="<%= priority.id %>" selected><%= priority.name %></option>
                  <% } else { %>
                    <option value="<%= priority.id %>"><%= priority.name %></option>
                  <% } %>
                <% }) %>
              </select>
              <div class="invalid-feedback">
                Please select priority.
              </div>
            </div>

            <div class="mb-3">
              <label for="assigneeId">Assignee</label>
              <select name="assigneeId" id="assigneeId" class="form-select" required>
                <% users.forEach(function (user) { %>
                  <% if (user.id == issue.assigneeId) { %>
                    <option value="<%= user.id %>" selected><%= user.firstName %></option>
                  <% } else { %>  
                    <option value="<%= user.id %>"><%= user.firstName %></option>
                  <% } %>
                <% }) %>
              </select>
            </div>

            <div class="mb-3">
              <label for="dueDate">Due date</label>
              <input type="date" name="dueDate" id="dueDate" class="form-control" value="<%= issue.dueDate %>">
            </div>

            <div class="mb-3">
              <button type="submit" class="btn btn-primary">Update issue</button>
            </div>
          </form>
        </div>
        <div class="col-md-6"></div>
      </div>
    </div>
  </div>
</div>

<%- include("shared/footer") %>
