<%- include("shared/header") %>

<div class="container my-4">
  <div class="row">
    <div class="col-md-12">
      <%- include("shared/flash") %>
      
      <div class="row mb-3">
        <div class="col-md-6"><h1>Issues (<%= count %>)</h1></div>
        <div class="col-md-6 d-flex align-items-center justify-content-end">
          <a href="/issues/new" class="btn btn-primary">New issue</a>
        </div>
      </div>
    
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Type</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Assignee</th>
            <th>Due date</th>
            <th>Estimation</th>
          </tr>
        </thead>
        <tbody>
          <% issues.forEach(function(issue) { %>
            <tr>
              <td><%= issue.id %></td>
              <td>
                <a href="/issues/<%= issue.id %>"><%= issue.title %></a>
              </td>
              <td><%= issue.type?.name || "-" %></td>
              <td><%= issue.status?.name || "-" %></td>
              <td><%= issue.priority?.name || "_" %></td>
              <td><%= issue.assignee?.firstName || "-" %></td>
              <td><%= issue.dueDate || "-" %></td>
              <td><%= issue.estimation || "-" %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include("shared/footer") %>
