<%- include("shared/header") %>

<div class="container my-4">
  <div class="row">
    <% if (error) { %>
      <div class="col-md-12">
        <h2><%= error %></h2>
      </div>
    <% } else { %>
      <div class="col-md-12">
        <h1 class="mb-3"><%= issue.id %>. <%= issue.title %></h1>
        <p class="fst-italic"><%= issue.description %></p>
        
        <hr>
        
        <div class="row">
          <div class="col-md-6 text-start">
            <a href="/issues/<%= issue.id %>/edit">Edit</a>
          </div>
          <div class="col-md-6 text-end">
            <form action="/issues/<%= issue.id %>?_method=DELETE" method="post">
              <button type="submit" class="btn btn-link">Delete</button>
            </form>
          </div>
        </div>

        <hr>

        <div class="row">
          <% comments.forEach(function(comment){ %>
            <div class="col-md-12 my-2">
              <p class="mb-1"><span class="text-primary"><%= comment.user?.firstName %> <%= comment.user?.lastName %></span> &middot; <span class="fs-6 text-muted"><%= comment.createdAt %></span></p>
            </div>
            <p>
              <%= comment.content %>
            </p>
            <hr>
          <% }) %>
        </div>

        <form action="/comments" method="post" class="mt-3 needs-validation" novalidate>
          <div class="row">
            <div class="col-md-13 text-end">
              <input type="hidden" name="issueId" value="<%= issue.id %>">
              <textarea name="content" id="content" cols="30" rows="6" class="form-control" placeholder="Add a comment" required></textarea>
              <div class="invalid-feedback">
                Comment is required.
              </div>
              <button type="submit" class="btn btn-primary my-3">Add comment</button>
            </div>
          </div>
        </form>
      </div>
    <% } %>
  </div>
</div>


<%- include("shared/footer") %>
