<%- include("shared/header") %>

<div class="container my-4">
  <div class="row">
    <% if (error) { %>
      <div class="col-md-12">
        <h2><%= error %></h2>
      </div>
    <% } else { %>
      <div class="col-md-12">
        <h1 class="mb-3"><%= issue.id %>. <%= issue.title %></h1>
        <p class="fst-italic"><%= issue.description %></p>
        
        <hr>
        
        <div class="row">
          <div class="col-md-6 text-start">
            <a href="/issues/<%= issue.id %>/edit">Edit</a>
          </div>
          <div class="col-md-6 text-end">
            <form action="/issues/<%= issue.id %>?_method=DELETE" method="post">
              <button type="submit" class="btn btn-link">Delete</button>
            </form>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-12 my-2">
            <p class="mb-1"><span class="text-primary">Jane Doe</span> &middot; <span class="fs-6 text-muted">1 day ago</span></p>
            <p>
              We're still able to produce this issue. Need to check now with high priority.
            </p>
            <hr>
          </div>

          <div class="col-md-12">
            <p class="mb-1"><span class="text-primary">Jane Doe</span> &middot; <span class="fs-6 text-muted">2 days ago</span></p>
            <p>
              We're still able to produce this issue. Need to check now with high priority.
            </p>
            <hr>
          </div>
        </div>

        <form action="" method="post" class="mt-3">
          <div class="row">
            <div class="col-md-13 text-end">
              <textarea name="add-comment" id="add-comment" cols="30" rows="6" class="form-control" placeholder="Add a comment"></textarea>
              <button type="submit" class="btn btn-primary my-3">Add comment</button>
            </div>
          </div>
        </form>
      </div>
    <% } %>
  </div>
</div>


<%- include("shared/footer") %>
